## PRODUCT SALES FOR E COMPANY

### appendix 
-click on links: 

> <a href=#imports>Import libraries</a>

> <a href=#load>Load data</a>

> <a href=#formating>Data formating</a>

> <a href=#valid>validate assumption</a>

> <a href=#EDA>Explratory data analysis</a>

> <a href=#Questions>Questions</a>

> <a href=#Qun>Qunclosion</a>

# <a name=imports> Import libraries</a>

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# <a name=load>Load data</a>

In [57]:
df = pd.read_csv('Sales_April_2019.csv',
 na_values = " "
                 )

In [58]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [150]:
df['Quantity Ordered']>1

0         True
1        False
2        False
3        False
4        False
         ...
18378    False
18379    False
18380     True
18381    False
18382    False
Name: Quantity Ordered, Length: 18383, dtype: bool

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18324 non-null  object
 1   Product           18324 non-null  object
 2   Quantity Ordered  18324 non-null  object
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: object(6)
memory usage: 861.8+ KB

# <a name=formating>Data formating</a>

In [88]:
# i need to change data format of three colums :order id ,Quantity Ordered,Price Each 
df['Order ID'] = pd.to_numeric(df['Order ID'], errors ='coerce')

In [133]:
#df['Order Date'] = pd.to_datetime(df['Order Date'],format='%m%d%Y %H%m', exact=False)
#df['Order Date'] = pd.to_datetime(df['Order Date'], exact=False)

In [131]:
df['Quantity Ordered'] = pd.to_numeric(df['Quantity Ordered'], errors ='coerce')

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18383 entries, 0 to 18382
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          18289 non-null  float64
 1   Product           18324 non-null  object
 2   Quantity Ordered  18289 non-null  float64
 3   Price Each        18324 non-null  object
 4   Order Date        18324 non-null  object
 5   Purchase Address  18324 non-null  object
dtypes: float64(2), object(4)
memory usage: 861.8+ KB

# <a name=valid>validate assumption</a>

In [136]:
for col in df.columns:
    uniq_val = df[col].unique()
    print(col,' : ',uniq_val)
    print(' ')

Order ID  :  [176558.     nan 176559. ... 194092. 194093. 194094.]

Product  :  ['USB-C Charging Cable' nan 'Bose SoundSport Headphones' 'Google Phone'
 'Wired Headphones' 'Macbook Pro Laptop' 'Lightning Charging Cable'
 '27in 4K Gaming Monitor' 'AA Batteries (4-pack)'
 'Apple Airpods Headphones' 'AAA Batteries (4-pack)' 'iPhone'
 'Flatscreen TV' '27in FHD Monitor' '20in Monitor' 'LG Dryer'
 'ThinkPad Laptop' 'Vareebadd Phone' 'LG Washing Machine'
 '34in Ultrawide Monitor' 'Product']

Quantity Ordered  :  [ 2. nan  1.  3.  5.  4.  7.  6.]

Price Each  :  ['11.95' nan '99.99' '600' '11.99' '1700' '14.95' '389.99' '3.84' '150'
 '2.99' '700' '300' '149.99' '109.99' '600.0' '999.99' '400' '379.99'
 'Price Each']

Order Date  :  ['04/19/19 08:46' nan '04/07/19 22:30' ... '04/15/19 16:02'
 '04/14/19 15:09' '04/18/19 11:08']

Purchase Address  :  ['917 1st St, Dallas, TX 75001' nan '682 Chestnut St, Boston, MA 02215'
 ... '347 Sunset St, San Francisco, CA 94016'
 '835 Lake St, Portland, OR 97035' '354 North St, Boston, MA 02215']

# <a name=EDA>Explratory data analysis(EDA)</a>

In [149]:
# to detect num of missing values "Null values" in all dataset using for loop

size = len(df)
for col in df.columns:
    na_val = sum(df[col].isna())
    print(col,' : ',na_val,' null value out of ', size , 'value')

Order ID  :  94  null value out of  18383 value
Product  :  59  null value out of  18383 value
Quantity Ordered  :  94  null value out of  18383 value
Price Each  :  59  null value out of  18383 value
Order Date  :  59  null value out of  18383 value
Purchase Address  :  59  null value out of  18383 value

# <a name=Questions>Questions</a>

# <a name=Qun>Qunclosion</a>