## PRODUCT SALES FOR E COMPANY

### appendix 
-click on links: 

> <a href=#imports>Import libraries</a>

> <a href=#load>Load data</a>

> <a href=#formating>Data formating</a>

> <a href=#valid>validate assumption</a>

# <a name=imports> Import libraries</a>

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# <a name=load>Load data</a>

In [2]:
df = pd.read_csv('Sales_April_2019.csv',
                 na_values = -1,
                 index_col = 0)

In [3]:
df.head()

,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
Order ID,,,,,
176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
NaN,NaN,NaN,NaN,NaN,NaN
176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18383 entries, 176558 to 194094
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product           18324 non-null  object
 1   Quantity Ordered  18324 non-null  object
 2   Price Each        18324 non-null  object
 3   Order Date        18324 non-null  object
 4   Purchase Address  18324 non-null  object
dtypes: object(5)
memory usage: 861.7+ KB

# <a name=formating>Data formating</a>

In [ ]:
df["Order ID"]

In [ ]:
# i need to change data format of three colums :order id ,Quantity Ordered,Price Each 

df['OrderID'] = pd.to_numeric(df['OrderID'],errors='coerc')

# <a name=valid>validate assumption</a>

In [ ]:
for col in df.columns:
    uniq_val = df[col].unique()
    print(col,' : ',uniq_val)
    print(' ')